@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: theme('fontFamily.sans');
    background-color: theme('colors.beige');
  }
}

/* ✅ Forzar que cada slide ocupe el 100% del ancho para evitar que se vean dos a la vez */
.slide-custom {
  min-width: 100% !important;
  max-width: 100% !important;
  flex: 0 0 100% !important;
}