@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: theme('fontFamily.sans');
    background-color: theme('colors.beige');
  }
}

/* ✅ Forzar que cada slide ocupe el 100% del ancho para Swiper o similares */
.slide-custom {
  min-width: 100% !important;
  max-width: 100% !important;
  flex: 0 0 100% !important;
}

/* ✅ Animación tipo marquee infinita */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* Solo -50% porque duplicamos los elementos */
  }
}

.animate-marquee {
  animation: marquee 40s linear infinite;
}
